In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('crop_production.csv')
data.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [8]:
data.shape

(246091, 7)

In [6]:
data.isnull().sum()

State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       3730
dtype: int64

In [3]:
data.dropna(inplace=True)
data.shape

(242361, 7)

In [4]:
data1 = data.drop(["District_Name","Crop_Year"],axis=1)

In [5]:
data_dum = pd.get_dummies(data1)
data_dum[:5]

,Area,Production,State_Name_Andaman and Nicobar Islands,State_Name_Andhra Pradesh,State_Name_Arunachal Pradesh,State_Name_Assam,State_Name_Bihar,State_Name_Chandigarh,State_Name_Chhattisgarh,State_Name_Dadra and Nagar Haveli,...,Crop_Turmeric,Crop_Turnip,Crop_Urad,Crop_Varagu,Crop_Water Melon,Crop_Wheat,Crop_Yam,Crop_other fibres,Crop_other misc. pulses,Crop_other oilseeds
0,1254.0,2000.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.0,1.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,102.0,321.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,176.0,641.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,720.0,165.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
x = data_dum.drop("Production",axis=1)
y = data_dum[["Production"]]

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33, random_state=42)
print("x_train :",x_train.shape)
print("x_test :",x_test.shape)
print("y_train :",y_train.shape)
print("y_test :",y_test.shape)

x_train : (162381, 164)
x_test : (79980, 164)
y_train : (162381, 1)
y_test : (79980, 1)

In [8]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [9]:
preds = model.predict(x_test)

In [10]:
from sklearn.metrics import mean_squared_error, r2_score
mean_squared_error(y_test,preds)
r2_score(y_test,preds)

0.14641046241956357

In [17]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=9,n_jobs=-1)
model.fit(x_train,y_train)

C:\Users\HP\AppData\Local\Temp/ipykernel_12616/3128208533.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train,y_train)

RandomForestRegressor(n_estimators=9, n_jobs=-1)

In [18]:
preds = model.predict(x_test)
from sklearn.metrics import r2_score
r2_score(y_test,preds)

0.7084348954439216

In [19]:
import pickle
pickle.dump(model,open(r'C:\Users\HP\Desktop\project\seminar project\model.pkl','wb'))

In [66]:
x_test.columns.to_list()
temp = pd.DataFrame(columns = x_test.columns.to_list())
temp

Empty DataFrame
Columns: [Area, State_Name_Andaman and Nicobar Islands, State_Name_Andhra Pradesh, State_Name_Arunachal Pradesh, State_Name_Assam, State_Name_Bihar, State_Name_Chandigarh, State_Name_Chhattisgarh, State_Name_Dadra and Nagar Haveli, State_Name_Goa, State_Name_Gujarat, State_Name_Haryana, State_Name_Himachal Pradesh, State_Name_Jammu and Kashmir , State_Name_Jharkhand, State_Name_Karnataka, State_Name_Kerala, State_Name_Madhya Pradesh, State_Name_Maharashtra, State_Name_Manipur, State_Name_Meghalaya, State_Name_Mizoram, State_Name_Nagaland, State_Name_Odisha, State_Name_Puducherry, State_Name_Punjab, State_Name_Rajasthan, State_Name_Sikkim, State_Name_Tamil Nadu, State_Name_Telangana , State_Name_Tripura, State_Name_Uttar Pradesh, State_Name_Uttarakhand, State_Name_West Bengal, Season_Autumn     , Season_Kharif     , Season_Rabi       , Season_Summer     , Season_Whole Year , Season_Winter     , Crop_Apple, Crop_Arcanut (Processed), Crop_Arecanut, Crop_Arhar/Tur, Crop_Ash Gourd, Crop_Atcanut (Raw), Crop_Bajra, Crop_Banana, Crop_Barley, Crop_Bean, Crop_Beans & Mutter(Vegetable), Crop_Beet Root, Crop_Ber, Crop_Bhindi, Crop_Bitter Gourd, Crop_Black pepper, Crop_Blackgram, Crop_Bottle Gourd, Crop_Brinjal, Crop_Cabbage, Crop_Cardamom, Crop_Carrot, Crop_Cashewnut, Crop_Cashewnut Processed, Crop_Cashewnut Raw, Crop_Castor seed, Crop_Cauliflower, Crop_Citrus Fruit, Crop_Coconut , Crop_Coffee, Crop_Colocosia, Crop_Cond-spcs other, Crop_Coriander, Crop_Cotton(lint), Crop_Cowpea(Lobia), Crop_Cucumber, Crop_Drum Stick, Crop_Dry chillies, Crop_Dry ginger, Crop_Garlic, Crop_Ginger, Crop_Gram, Crop_Grapes, Crop_Groundnut, Crop_Guar seed, Crop_Horse-gram, Crop_Jack Fruit, Crop_Jobster, Crop_Jowar, Crop_Jute, Crop_Jute & mesta, Crop_Kapas, Crop_Khesari, Crop_Korra, Crop_Lab-Lab, Crop_Lemon, Crop_Lentil, Crop_Linseed, Crop_Litchi, Crop_Maize, ...]
Index: []

[0 rows x 164 columns]

In [68]:
a = [0]*164
temp.loc[len(temp.index)] = a

In [62]:
pickle.dump(temp,open(r'C:\Users\HP\Desktop\project\seminar project\datafram.pkl','wb'))

In [42]:
season = data['Season'].unique()
crop = data['Crop'].unique()
state = data['State_Name'].unique()

In [43]:
pickle.dump(season,open(r'C:\Users\HP\Desktop\project\seminar project\season.pkl','wb'))
pickle.dump(crop,open(r'C:\Users\HP\Desktop\project\seminar project\crop.pkl','wb'))
pickle.dump(state,open(r'C:\Users\HP\Desktop\project\seminar project\state.pkl','wb'))